body {
    font-family: 'Poppins';
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0E293C;
    font-weight: 600;
}


.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: white;
}







.carousel-caption {
    position: absolute;
    height: 500px;
    width: 450px;
    margin-left: 120px;
    padding-top: 100px;
    text-align: left;

}

.carousel-caption span {
    font-weight: 600;
}

.carousel-caption h1 {
    font-size: 3rem;
}

.carousel-caption p {
    font-size: 1.875rem;
    font-family: 'Montserrat';
    font-weight: 200;
}

.carousel-caption a {
    margin-top: 17px;
    margin-left: 90px;
}

/* Category */

.kategori {
    margin-top: 20px;

}

.figure h5 {
    color: #171717;
}

.testimony {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.test1 {
    display: flex;
    justify-content: center;
}

.text3 {
    font-size: 1rem;
}

.text4 {
    font-size: 0.8rem;
}

footer {

    background-color: #0E293C;
    height: 300px;
}

footer .teks1 {
    font-size: 0.9rem;
    font-family: 'Montserrat';
}

footer .copyright {

    font-size: 11px;
    height: 50px;
    font-family: 'Montserrat';
    font-weight: 200;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #b7b7b7;

}

.breadcrumb {
    margin-top: 100px;
}

.product-thumbnail-container {
    background-color: aliceblue;
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.1);
    padding: 8px;
    width: 360px;
    margin: auto;
    transform: translateY(-50px);
}

.product-thumbnail-container a:hover {
    text-decoration: none;
}

.input-group {
    width: 70%;
}

.btn-product .btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    height: 50px;
}

.product-description .tab-content {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-top: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

.product-description .tab-content p {
    font-size: 16px;
    font-weight: 200px;
    color: #868686;
    line-height: 28px;
}

.tab-pane {
    color: #868686;
}

.checkout-detail {
    background-color: #F6F7FB;
    border: 1px solid #black;
}




@media screen and (max-width: 1366px) {

    .carousel-caption h1,
    p,
    .get {
        margin-top: -10px !important;
        margin-top: 50px;
    }

    .carousel-caption p {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1024px) {

    .carousel-caption h1,
    p,
    .get {
        margin-top: -10px !important;
    }
}





@media screen and (max-width: 576px) {




    .bread {
        margin-top: 200px;
    }

    footer {
        display: flex;
    }

    footer .about {
        display: none;
    }

    footer .category {
        display: none;
    }


}